*{
    padding:0;
    margin:0;
    border:0;
    font-family:arial;
}
.shiptxt{
    background-color:rgba(107,120,102,255);
    color:white;
    text-align:center;
    margin:0px;
}
.navcontainer{
    display:flex;
    justify-content:space-between;
    text-align:center;
    padding:5px;
}
.navbaropts{
    display:flex;
    align-items:flex-end;
    flex-flow:row;
    justify-content:space-evenly;
    text-align:center;
}
.tokyobikeimage{
    width: 100%;
}
.phototxt{
    position:relative;
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 200px; 
    padding: 20px;
}
.btnWhite{
    border:solid white;
    color: black;
    background-color: white;
    margin:12px;
    font-size:10px;
    width:120px;
    text-align:center;
    border-radius:22px;
}
.bikecontainertext{
    text-align:center;
    position:relative;
    bottom:140px;
    margin:0px;
    background-color:gray;
}
.bikerow{
    position:relative;
    bottom:140px;
    display:flex;
    flex-wrap:wrap;
    background-color:gray;
    border:solid black;
}
.bisoublue{
    width:33%;
}
.bisou{
    width:90%;
}
.secondtext{
    margin:2px;
    text-align:center;
    font-size:18px;
}
.lastcontainer{
    display:flex;
}
.lastbox{
    width:33%;
}
.lastimage{
    width:90%;
}
.button{
    border:solid black;
    color:black;
    background-color:white;
    margin:12px;
    font-size:10px;
    width:120px;
    text-align:center;
    border-radius:22px;
}
